/* ----------------------------------------------
   Root Variables
---------------------------------------------- */
:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --color-slate: #434455;
  --color-white: #FFFFFF;
  --color-logo: #4d5ae5;
  --color-logo-span: #2e2f42;
  --color-background-section: #F4F4FD;
  --color-footer-bg: #2e2f42;
  --color-footer-text: #F4F4FD;
  --color-footer-logo: #4d5ae5;
}

/* ----------------------------------------------
   General Styles
---------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
  margin-left: auto;
}

body {
  font-family: var(--font-roboto);
  color: var(--color-slate);
  background-color: var(--color-white);
}

/* ----------------------------------------------
   Container
---------------------------------------------- */
/* .container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* ----------------------------------------------
   Header Styles
---------------------------------------------- */
.page-header {
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.footer-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
}

.footer-logo-text {
   color:#FFFFFF;
}

.header-logo-text {
  color: var(--color-logo-span);
}

.menu {
  display: flex;
  column-gap: 40px;
  gap: 40px;
  color: #404bbf;
}

.menu-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.menu-link {
  text-decoration: none;
  color: var(--color-logo-span);
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-menu-item {
  position: relative;
  color: #404bbf;
}

.first-menu-item::after,
.first-menu-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
}


.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* ----------------------------------------------
   Main Section Styles
---------------------------------------------- */
.main-section {
  padding: 188px 0;
  background-color: #2E2F42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.head-solution {
  font-size: 56px;
  max-width: 496px;
  line-height: 1.07;
  text-align: center;
  border-style: none;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-white);
}

.order-service-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-logo);
  cursor: pointer;
  letter-spacing: 0.04em;
  display: block;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}

/* ----------------------------------------------
   Features Section Styles
---------------------------------------------- */
.features-section {
  padding: 120px 0;
}

.item-icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}

.features-heading {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-logo-span);
}

.features-item {
  background-color: var(--color-white);
  width: calc((100% - 72px) / 4);
}

.features-item-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-logo-span);
  padding-top: 0px;
  margin-bottom: 8px;
}

.features-item-paragraph {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  padding-bottom: 8px;
  padding-bottom: 0;
}

/* ----------------------------------------------
   Portfolio Section Styles
---------------------------------------------- */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-p {
  transform: translateY(0%);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-item {
  width: calc((100% - 47.99px) / 3);
  margin-bottom: 0;
  background-color: var(--color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-heading {
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-logo-span);
  margin-bottom: 8px;
}

.portfolio-item-paragraph {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.portfolio-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
}

/* ----------------------------------------------
   Team Section Styles
---------------------------------------------- */
.team-section {
  background-color: var(--color-background-section);
  padding: 120px 0;
}

.team-heading {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-logo-span);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.for-members {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-member-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-logo-span);
  text-align: center;
  margin-bottom: 8px;
}

.team-member-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-align: center;
  margin-bottom: 8px;
}

.guys-list {
  gap: 24px;
  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.guys-list-li {
  width: 40px;
  height: 40px;
  display: flex;
}

.guys-list-a {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  background: #4d5ae5;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.guys-list-a:hover,
.guys-list-a:focus {
  background: #404bbf;
}

.guys-list-svg {
  fill: #f4f4fd;
}

/* ----------------------------------------------
   Footer Styles
---------------------------------------------- */
.footer {
  background-color: var(--color-footer-bg);
    height: 312px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logotype {
  margin-right: 120px;
}

.footer-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-ul {
  display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer-li {
  width: 40px;
    height: 40px;
}

.footer-link {
  width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
    display: flex;
}

.logo-class {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-description {
  max-width: 264px;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer-text);
}

.mailing-form {
  display: flex;
  gap: 24px;
  width: 453px;
  height: 80px;
}

.mailing-list {
  margin-left: auto;
}

.mailing-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.label-form {
  display: flex;
  gap: 24px;
}

.form-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 16px;
}

.subscribe-btn {
  display: flex;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  min-width: 165px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  display: flex;
  fill: #ffffff;
  align-items: center;
  gap: 16px;
  margin-left: 16px;
}

/* MODAL WINDOW */

.modal-backdrop {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-input {
  position: relative;
}

.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4D5AE5;
}

.svg-input:focus {
  fill: #4D5AE5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-wrappered {
  margin-bottom: 16px;
}

.review-form-input:focus+.modal-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment:focus {
  border-color: #4D5AE5;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.span-policy {
  display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:focus + .review-form-checkbox-label > .span-policy {
  border: 1px solid #4d5ae5;
}

.textarea-box {
  margin-bottom: 24px;
}

.review-form-checkbox:checked + .review-form-checkbox-label> .span-policy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checked-marker {
  fill: transparent;
}


.a-p-p {
  text-decoration: underline;
  line-height: 1.33333;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.a-p-p:focus {
  border: 1px solid #4d5ae5;
}

.review-form-submit-btn {
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
}

.container {
  max-width: 318px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features-item:not(last-child) {
  margin-bottom: 72px;
}



/* ----------------------------------------------
   Utility Classes
---------------------------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}